doctype html
html
    head
        title Particles
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(href="dist/main.css" rel="stylesheet" type="text/css")
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="#") Particles
                ul.nav.navbar-nav
                    li
                        | X
                        select.selectpicker.feature.feature-x
                    li
                        | Y
                        select.selectpicker.feature.feature-y
                    li
                        | Diagram
                        select.selectpicker.visualization
                            option(value="overview" selected) Overview
                            option(value="barChart") Bar chart
                            option(value="scatterPlot") Scatter plot
                            option(value="dot") Dot map
                            //option(value="psm") Proportional symbol map
                            //option(value="choropleth") Choropleth map
                            //option(value="cartogram") Cartogram
                    li
                        button(type="button" class="btn btn-default btn-sm" id="button-pause")
                            span(class="glyphicon glyphicon-pause" aria-hidden="true") Pause
                    br

                    li
                        | Transition
                        select.selectpicker.transition
                            option(value="none" selected) None
                            option(value="linear") Linear position animation
                    li
                        | Transition layout
                        select.selectpicker.transition-layout(disabled="true")
                            option(value="inPlace" selected) In-place
                            option(value="juxtaposition") Juxtaposition
                            option(value="stacked") Stacked
                    li
                        | Sort
                        select.selectpicker.sort-type
                            option(value="automatically") automatically
                            option(value="manually" selected) manually
                        | by
                        select.selectpicker.feature.sort-by(disabled="false")

    script(src="dist/main.js")
